@font-face {
    font-family: Helvetica Neue;
    src: url("fonts/HelveticaNeueCyr-Light.otf");
    src: url("fonts/HelveticaNeueCyr-Roman.otf");
}
body {
    background-color: #F0F0F0;
    font-family: "Helvetica Neue Light", sans-serif;
    margin: 0;
}
input[type="search"] {
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    box-shadow: inset 0 1px 5px -3px #7E7E7E;
    color: #323232;
    font-family: "Helvetica Neue Roman", sans-serif;
    font-size: 18px;
    height: 38px;
    margin-top: 7px;
    outline:none;
    padding-left: 9px;
    padding-right: 8px;
    width: 705px;
}
input[type="search"]:focus {
    border: 1px solid #52A7E7;
    border-radius: 3px;
    box-shadow: 0 0 5px #acd1ed;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
input[type="submit"] {
    background: linear-gradient(to top, #EEEEEE, #FBFBFB);
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    color: #323232;
    font-weight: bold;
    height: 42px;
    width: 90px;
}
li {
    display: inline;
}
main {
    margin: 0 auto;
    width: 800px;
}
footer, main {
    position: relative;
    z-index: 6;
}
.footer__about {
    margin-top: 34px;
    text-align: center;
}
.footer__about-dash {
    color: #CBCBCB;
    margin-left: 10px;
    margin-right: 10px;
}
.footer__about-item {
    color: #656565;
    font-size: 14px;
    text-decoration: none;
    word-spacing: 1px;
}
.footer__about-item:hover {
    text-decoration: underline;
}
.footer__logo {
    display: block;
    margin-left: 50%;
    margin-top: 35px;
}
.header {
    background: url("images/header_background.jpg") no-repeat top;
    background-size: 100%;
    height: 370px;
    width: 100%;
    z-index: 1;
    position: relative;
}
.string {
    margin-left: -300px;
    position: relative;
    z-index: 2;
}
.header__shadow {
    /*background-size: 100%;*/
    /*box-shadow: inset 0 0 10em;*/
    /*height: 370px;*/
    /*opacity: 0.1;*/
    /*width: 100%;*/
}
.search {
    margin-top: -816px;
    position: relative;
    z-index: 4;
}
.header_background {
    margin-left: -50px;
    width: 100px;
}
.header_hut-2 {
    margin-top: 113px;
    margin-left: 967px;
}
.header_hut-1 {
    margin-top: 73px;
    margin-left: 672px;
}
.header__octocat {
    margin-top: 94px;
    margin-left: 561px;
}
.header_octocats-shadow {
    margin-top: 297px;
    margin-left: 576px;
}
.header_starship {
    margin-top: 150px;
    margin-left: 637px;
}
.header_starship-shadow {
    margin-top: 263px;
    margin-left: 647px;
}
.header_text-shape {
    margin-top: 72px;
    margin-left: 277px;
}
